.hide{
    display: none;
    height: 0;
    overflow: hidden;
    padding: 0 10px !important;
    margin: 0;
}
.item{
    width: 100%;
}

#teteA{
    display: flex;
    gap: 200px;
    background-color: #281bd1;;
    margin: auto;
    padding: 14px;
    border-bottom: 1px solid rgb(122, 120, 120);
    color: white;    
    font-size: 1.5em;
    border-radius: 20px 20px 0 0 ;
}
#teteB,#teteC{
    display: flex;
    gap: 200px;
    background-color: #281bd1;;
    margin: auto;
    padding: 14px;
    border-bottom: 1px solid rgb(122, 120, 120);
    color: white;    
    font-size: 1.5em;
}
#teteD{
    display: flex;
    gap: 200px;
    background-color: #281bd1;;
    margin: auto;
    padding: 14px;
    border-bottom: 1px solid rgb(122, 120, 120);
    color: white;    
    font-size: 1.5em;
    border-radius: 0 0 20px 20px  ;
}
button:hover{
    cursor: pointer;
}
.accor{
    border: 1px solid #22192c;
    border-radius: 20px;
    width: 70%;
    margin: auto;
}
.content{   
    margin: auto;
   border-bottom: 1px solid transparent;
   padding: 15px;
   box-sizing: border-box;
   background-color: white;
   color: black;
   transition: all 0.3s;
   font-size: 1em;
   
}
i{
    color: white;
    margin-right: 100px;
}

.active{
    transform: rotate(180deg);
}
h1{
    text-align: center;
}